.articles {
    padding: 60px 0;

    .articles__wrapper {
        position: relative;

        .articles__readmore {
            display: flex;
            align-items: center;
            position: absolute;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-transform: uppercase;
            color: #303030;
            gap: 20px;
            top: 20px;
            right: 0;
        }
    }
}

.articles__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
    margin-bottom: 40px;
}

.articles__cards {
    display: flex;
    gap: 20px;

    .article__card {
        width: 310px;
        height: 443px;

        .card__img {
            margin-bottom: 20px;
        }

        .article__date {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #8F8F8F;
            margin-bottom: 12px;
        }

        .card__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #303030;
        }
    }
}

@media (max-width: 1298px) {
    .articles__cards {
        display: grid;
        grid-template-columns: 310px 310px;
        gap: 20px;
        justify-content: center;
    }
    .articles__title {
        text-align: center;
        font-size: 30px
    }
}

@media (max-width: 690px) {
    .articles__cards {
        display: grid;
        grid-template-columns: 310px;
        gap: 20px;
        justify-content: center;
    }
    .articles__title {
        text-align: center;
        font-size: 30px
    }
    .articles .articles__wrapper .articles__readmore {
        display: flex;
        align-items: center;
        position: static;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #303030;
        margin-top: 20px;
    }
}