.sale__banners {
    padding: 60px 0;
    position: relative;
    z-index: -1;
}

.bunner__wrapper {
    display: flex;
    gap: 20px;

    .sale_banner {
        display: flex;
        width: 420px;
        height: 290px;
        justify-content: space-between;
        background: #F8F8F8;

    }

    .banner__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        width: 198px;
        text-transform: uppercase;
        color: #303030;
        margin-top: 72px;
        margin-left: 27px;
        margin-bottom: 20px;
    }

    .sale__left {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
    }

    .sale__count {
        font-weight: 600;
        font-size: 36px;
        line-height: 160%;
        color: #FFFFFF;
    }

    .banner_sale {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 194px;
        height: 58px;
        gap: 13px;

        .sale__sp {
            display: inline-block;
        }
    }

    .banner_sale_50 {
        background: #43807F;
    }

    .banner_sale_40 {
        background: #E24B33;
    }

    .banner_sale_60 {
        background: #E1A661;
    }
}

@media (max-width: 1299px) {
    .bunner__wrapper {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 490px) {
    .bunner__wrapper {
        .sale_banner {
            justify-content: space-between;
            width: 264px;
            height: 178px;

            .banner__title {
                font-size: 10px;
                width: 110px;
                margin-top: 37px;
                margin-left: 14px;
                margin-bottom: 26px;
                padding-right: 8px;
            }
        }

        .banner_sale {
            width: 110px;
            height: 37px;
            gap: 13px;
        }

        .sale__sp {
            display: inline-block;
        }


        .sale__count {
            font-size: 16px;
            line-height: 130%;
        }

        .sale__left {
            font-size: 18px;
            line-height: 130%;
        }

        .bunner__img img {
            display: block;
            object-fit: contain;
            width: 130px;
            height: 178px;
            margin: 0 auto;
        }
    }



}