.header__base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 23px;
}

.header__dropdown {
    right: 32px;
}

.header__logo img {
    width: 183px;
    height: 52px;
}

.header__icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 116px;
    height: 20px;
    cursor: pointer;
}

.header__icons::after {
    position: absolute;
    content: '';
    background-image: url('../../assets/img/icons/likes.svg');
    width: 19px;
    height: 19px;
    top: -9px;
    left: 10px;
}



.header__icon_favorite {
    background-image: url('../../assets/img/icons/favorite.svg');
    width: 20px;
    height: 20px;
}

.header__icon_chart {
    background-image: url('../../assets/img/icons/chart.svg');
    width: 20px;
    height: 20px;
}

.header__icon_bag {
    background-image: url('../../assets/img/icons/bag.svg');
    width: 20px;
    height: 20px;
}

.catalog__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 134px;
    padding: 25px 50px;
    background-color: #F0F0F0;
}

.catalog__tabs {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 100%;

    .catalog__tab {
        font-family: 'Inter';
        font-weight: 500;
        height: auto;
        font-size: 13px;
        line-height: 100%;
        text-transform: uppercase;
        color: #303030;
    }
}

.catalog__search {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    .catalog__search {
        width: 20px;
        height: 20px;
    }

    .search__input {
        color: #A2A2A2;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        padding: 0;
        width: 106px;
        height: 14px;
        border: none;
        background-color: transparent;
    }
}

.header__wrapper {
    padding-bottom: 20px;
}

.header__phone {
    display: flex;
    gap: 10px;
}

@media (max-width: 1225px) {

    .catalog__tabs .catalog__tab {
        font-size: 10px;
    }

    .catalog__wrapper {
        gap: 20px;
        background-color: #F0F0F0;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .catalog__tabs {
        gap: 40px;
    }

    .header__logo {
        width: 140px;
        height: 40px;
        object-fit: contain;
    }

    .phone__link {
        font-size: 13px;
    }

    .phone__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
}

.select {
    position: relative;
    width: 230px;
    height: 40px;
    margin: 0 auto;
}

@media (max-width: 936px) {
    .select {
        position: relative;
        width: 230px;
        height: 40px;
        margin: 0 auto;
    }

    .header__dropdown {
        right: 0;
        top: 40px;
    }
}

@media (max-width: 916px) {
    .header__base {
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 0 80px;
        row-gap: 20px;
        justify-content: center;
        padding-top: 10px;

        .header__select {
            display: flex;
            order: 1;
            width: 230px;
        }

        .header__phone {
            display: flex;
            order: 2;
        }
    }

    .header__base .header__select {
        width: 179px;
    }

    .drop {
        right: 20px;
        top: 17px;
        border-radius: 0px;
        object-fit: cover;
    }

    .header__dropdown {
        right: 0;
        top: 38px;
    }
}

@media (max-width: 748px) {

    .catalog__tabs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    .header__login {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    .header__base {
        padding: 0  96px;
        row-gap: 20px;
    }
}

@media (max-width: 548px) {
    .header__base {
        padding: 0 120px;
    }
}
@media (max-width: 430px) {
    .header__base {
        padding: 0 60px;
    }
}