.sale {
    padding: 60px 0;
}

.sale__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
    margin-bottom: 24px;
}
.sale__wrapper {
    position: relative;
}

.sale__tabs {
    display: flex;
    gap: 8px;
    max-width: 470px;

    .sale__tab {
        padding: 13px 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #303030;
        background: #F0F0F0;
        border-radius: 21px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        margin-bottom: 36px;
    }

    .sale__tab:hover {
        background: #DDDDDD;
    }

    .sale__tab.sale__tab_active {
        background: #303030;
        color: #FFFFFF;
    }
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;

    .card {
        position: relative;
        width: 310px;
        height: 370px;
        border: 1px solid #F0F0F0;
    }

    .card__img {
        width: 200px;
        height: 200px;
        margin: 40px 55px 26px;
    }

    .card_price {
        padding: 0 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #303030;
    }
    .sale45::after {
        content: '65 000 ₽';
        padding-left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-decoration-line: line-through;
        color: #8F8F8F;

    }

    .card_caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #303030;
        padding: 16px 24px 26px;
    }

    .card__eye-icon,
    .card__favorite-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .sale__marker {
        border-radius: 15px;
        position: absolute;
        display: none;
        font-weight: 500;
        font-size: 13px;
        line-height: 100%;

        padding: 5px 12px 3px 11px;

    }
    .sale__marker_sale45{
        display: inline-block;
        background: #E24B33;
        color: #FFFFFF;
        top: 264px;
        right: 24px;
    }
    .sale__marker_active {
        display: inline-block;
        color: #FFFFFF;
        background: #5B8A8F;
        top: 16px;
        left: 24px;
    }

    .card__favorite-icon {
        top: 19px;
        right: 22px;
    }

    .card__eye-icon {
        top: 52.5px;
        right: 22px;
    }

    .favorite__svg {
        fill: currentColor;
    }

    .favorite__svg:hover {
        fill: #979797;
    }

    .favorite__svg:active {
        fill: #E24B33;
    }
}

.sale__wrapper{
    position: relative;
    .sale__button-prev {
        top: 50px;
        right: 62px;
        transform: rotate(180deg);
    }
    .sale__button-next {
        top: 50px;
        right: 0;
    }
}


.card {
    position: relative;
    .pagination {
        position: absolute;
        width: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        bottom: 136px;
        transform: translateX(-20px);

        .pagination__item {
            width: 6px;
            height: 6px;
            border: 1px solid #303030;
            border-radius: 3px;
            cursor: pointer;
        }

        .pagination__item_active {
            background-color: #303030;
        }
    }
}
